<div class="navContent">
    <a href="/"><img src="/images/logo.png" id="logo" width="100px" /></a>

    <div class="navItems">
      <ul>
        <a href="/">
          <li class="navLinks">Home</li>
        </a>
        <a href="/api/v1/users/blogs">
          <li class="navLinks">Blogs</li>
        </a>
        <a href="/api/v1/users/profile-page">
          <li class="navLinks">Profile</li>
        </a>
        <a href="#contact">
          <li class="navLinks">Log Out</li>
        </a>
        <a href="/api/v1/posts/new-post">
          <li class="navLinks">create Post</li>
        </a>
      </ul>
    </div>
  </div>