<html>
<head>
  <title>404 page</title>
</head>
<link rel="stylesheet" href="/styles/404page.css"/>
<body>
    <div class="container">
        <div class="error">404</div>
        <div class="message">Oops! The page you are looking for does not exist.</div>
        <div class="link"><a href="/">Go back to home page</a></div>
    </div>
</body>
</html>
