<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogging Website</title>
    <link rel="stylesheet" href="/styles/homestyle.css">
     
</head>
<body>

    <div class="container">

        <!-- navbar -->
        <div class="navContent">
            <a href="/"><img src="/images/logo.png" id="logo" width="100px"></a>

            <div class="navItems">
                <ul>
                    <a href="/api/v1/users/blogs"><li class="navLinks">Blog</li></a>
                    <a href="#about"><li class="navLinks">About</li></a>
                    <a href="#contact"><li class="navLinks">Contact</li></a>
                    <a href="/api/v1/users/login"><li class="navLinks">Login</li></a>
                </ul>
            </div> 

        </div>

        <!-- main section -->
        <div class="home-container">

            <div class="text-content">
                <h2>Welcome To <br> <span>Our Blogging Website</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quis illum voluptatum quidem at cum, rem in doloribus minima aspernatur?</p>
            </div>

            <div class="btn">
                <a href="#about"><button>Read More</button></a>
            </div>

        </div>

        


    </div>
    <div id="about">
        <h1 style="text-align: center;position: absolute ;top:20px;color:white;text-transform: capitalize;">about Us</h1>
        <div class="about-us">
            <p>Welcome to [Your Blogging Website],
                 the ultimate hub for student voices a
                 nd perspectives. At the heart of our platfor
                 m is a community of passionate students who
                  share their unique experiences, insights, and stories. We believe 
                  in the power of student voices to inspire, inform, and connect. Whether you're
                   navigating the challenges of academia, exploring personal interests
                   , or seeking advice on student life, our blog is your go-to destination. We cover a
                    wide range of topics, from study tips and career advice to lifestyle and entertainment. 
                    Our dedicated team of student contributors brings you authentic, relatable content that 
                    resonates with the student experience. Join us on this journey of discovery, empowerment,
                     and camaraderie.</p>
        </div>
        <div class="image-container">
        <img src="/images/aboutUsImage.png" alt="">
    </div>
    </div> 
</body>
</html>